body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  margin: 0;
}

h2{
  margin: 0;
}

h3{
  margin: 0;
}

p{
  margin: 0;
}

/* 0a1128  77867f f4d35e ee964b f95738 */

/*Header */
header{
  background-color: #f95738;
}

/*Reseña */
.reseña{
  background-color: #ee964b;
}

/*Menu*/
.menu{
  background-color: #f4d35e;
}

/*Formulario*/
.formulario{
  background-color: #77867f;
}

/*Articulo*/
.articulo{

  background-color: #ee964b;
}

/*Reserva*/
.reserva{

  background-color: #77867f;
}

/*Info*/
.info{
  background-color: #77867f;
}

/*Footer*/
footer{
  background-color: #0a1128;
  color: white;
}
