body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  margin: 0;
}

h2{
  margin: 0;
}

h3{
  margin: 0;
}

p{
  margin: 0;
}

a{
  text-decoration: none;
  color: #efefef;
  
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 40px;
  list-style: none;
  white-space: nowrap;
  margin: 0;
  font-weight: 600;
}


/* 0a1128  77867f f4d35e ee964b f95738 */

/*Header */
header{
  background-color: #f95738;
  position: fixed;
  width: 100%;
}

header nav{
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 10px 0 20px 0;
  color: white;
  justify-content: space-between
}

.header-logo h1{
  position: relative;
  margin-bottom: 5px;
}

.header-logo h1:after{
  content: "";
  position: absolute;
  height: 2px;
  width: 155px;
  background: white;
  top: 100%;
  left: 0;
  margin-top: 0;
}

.dice{
  font-size: 20px;
}

.header-text{
  display: flex;
  align-items: center;
}

/*Reseña */
.reseña{
  background-color: #ee964b;
  text-align: justify;
  padding: 50px 0;
}

.reseña nav{
  max-width: 1170px;
  padding: 0 80px;
  margin: 0 auto;
  
}

.reseña-info{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 80px 100px 30px 100px;
}

.reseña-info div{
  text-align: center;
  align-content: center;
}

.reseña-img img{
  width: 100%;
  margin: 0 auto;
}

/*Menu*/
.menu{
  background-color: #f4d35e;
}

.menu nav{
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table{
  background-color: white;
  margin: 20px 0px;
  border-spacing: 0;
  width: 75%;
}

th{
  border-bottom: 1px solid #ddd;
}

th, td {
  padding: 15px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/*Formulario*/
.formulario{
  background-color: #77867f;
}

/*Articulo*/
.articulo{

  background-color: #ee964b;
}

/*Reserva*/
.reserva{
  background-color: #77867f;
  display: flex;
  justify-content: center;
}

.reserva nav{
  padding: 30px 0;
  width: 75%;

  display: grid;
  grid-template-columns: 50% 50%;
}

.reserva-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  text-align: justify;
  padding-right: 20px;
}



.reserva form{
  display: flex;
  flex-direction: column;

  text-align: left;
}

.reserva p{
  font-size: 20px;
}

/*Info*/
.info{
  background-color: #77867f;
}

/*Footer*/
footer{
  background-color: #0a1128;
  color: white;
}

footer nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 75%;
  margin: 0 auto;
  
  padding-top: 30px;
}

.redes-sociales{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.list{
  text-align: left;
}

dt{
  font-weight: 400;
  font-size: 18px;
}

dd{
  margin-inline-start: 0;
}
.redes-sociales p{
  font-size: 30px;
}

.foot{
  border-color: rgb(170, 170, 170);
    border-top-style: solid;
    border-top-width: 1px;
    max-width: 1170px;
    width: 100%;
    margin: 50px auto 0;
    padding: 30px 0 10px;
}

@media screen and (max-width: 1260px) {


}